DEADJOE
core
*.pyc
*~
sam2p
sam2p.exe
sam2p.uncompressed.exe
sam2p.xstatic
sam2p.xstatic.uncompressed
*.o
*.tmp.h
*.tmp.i
*.tmp.pin
*.tmp.ps0
Makedep
Makehelp
bts*.tt?
config.h
config.log
config.status
ps_tiny
*.pst
sam2p_version.h
allcc.*
sam2p.yes
sam2p.no
darwin_libgcc/
packaging/
sam2p.darwinc32
sam2p.darwinc64
